#product-overview{
    /* background: url("images/freedom.jpg") 0 45%/cover ; */
    background-image: url("images/freedom.jpg");
    background-size: cover;
    background-position: 0 45%;
    /* background: linear-gradient(to top, rgba(238, 243, 166, 0.6) 2%, transparent), url("images/freedom.jpg") 0 45%/cover ; */
    /* background-image: linear-gradient(45deg,red, rgb(139, 139, 255)); */
    width: 100%; /*100vw create width sidebar - why? */
    height: 100vh;
    padding: 0.6rem;
}

.section-title{
    color: #c82c2c;
    font-size: 2rem;
    text-align: center;
}

#product-overview h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    bottom: 8.5%;
    left: 5%;
}

.plan__list{
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan{
    /* background-color: #7cf0a1; */
    background-color: #d65d5d;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan-highlighted{
    background-color: #c32d2d;
    color: white;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.5);    
}

.plan_annotation{
    color: #e92727;
    background: rgb(233, 228, 228);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 0.25rem;
    border-radius: 4px;
}

.plan__title{
    color: #fab8b8;
}

.plan__price{
    color: #585858;
}

.plan-highlighted .plan__title{
    color: white;
}

.plan-highlighted .plan__price{
    color: #4d4c4c;
}

.plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature{
    margin: 0.5rem 0;
}
#key-features{
    background: #c32d2d;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title{
    margin: 2rem;
    color: white;
}

.key-features__list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: top;
}

.key-feature{
    display: inline-block;
    width: 30%;
}

.key-feature__img{
    background: white ;
    width: 128px;
    height: 128px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto; /*center an elemtent horizontally(circles)*/
}

.feature__desc{
    color: white;
    text-align: center;
    font-size: 1.3rem;
}




