#product-overview{
    /* background: url("images/freedom.jpg") 0 45%/cover ; */
    background-image: url("images/freedom.jpg");
    background-size: cover;
    background-position: 20% 0;
    /* background: linear-gradient(to top, rgba(238, 243, 166, 0.6) 2%, transparent), url("images/freedom.jpg") 0 45%/cover ; */
    /* background-image: linear-gradient(45deg,red, rgb(139, 139, 255)); */
    width: 100%;
    height: 90vh;
    padding: 0.6rem;
}

.section-title{
    color: #c82c2c;
    font-size: 2rem;
    text-align: center;
}

#product-overview h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    bottom: 20%;
    left: 4%;
    font-size: 1.6rem;
}

@media (min-width: 55rem){
    #product-overview{
        background-position: 0 37%;
    }

    #product-overview h1{
        bottom: 19%;
        font-size: 2rem;
    }
}

@media (max-height: 30rem) and (orientation: landscape){
    #product-overview{
        background-position: 0 35%;
    }
    #product-overview h1{
        bottom: 5%;

    }
}

.section-title{
    color: #c82c2c;
    font-size: 2rem;
    text-align: center;
}


.plan{
    background-color: #d65d5d;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    display: block;
    width: 100%;
}

.plan-highlighted{
    background-color: #c32d2d;
    color: white;
}

.plan_annotation{
    color: #e92727;
    background: rgb(233, 228, 228);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 0.25rem;
    border-radius: 4px;
}

.plan__title{
    color: #fab8b8;
}

.plan__price{
    color: #585858;
}

.plan-highlighted .plan__title{
    color: white;
}

.plan-highlighted .plan__price{
    color: #4d4c4c;
}

.plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature{
    margin: 0.5rem 0;
}

@media (min-width: 55rem){
    .plan{
        width: 30%; 
        min-width: 15.5rem;
        max-width: 23rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 28rem;
    }

    .plan__list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plan-highlighted{
        box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.5);    
        height: 30rem;
        z-index: 50;
    }
}
#key-features{
    background: #c32d2d;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title{
    margin: 2rem;
    color: white;
}

.key-features__list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: top;
}

/* .key-feature{
    display: inline;
    width: 30%;
} */

@media (min-width: 55rem){
    .key-feature{
        width: 30%;
    }

    .key-features__list{
        display: flex;
        justify-content: center;
    }
}

.key-feature__img{
    background: white ;
    width: 128px;
    height: 128px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto; /*center an elemtent horizontally(circles)*/
}

.feature__desc{
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }




