*{
    box-sizing: border-box; /*includes border and padding of an element*/
}

body{
    font-family: 'Arvo', serif;;
    margin: 0;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}

.main-header{
    width: 100%;
    position: fixed;
    background-color: #c82c2c;
    padding: 0rem 1rem;   
    top: 0; /*Fixing the margin in the packages page*/
    z-index: 1;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
}


.main-header__brand{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    vertical-align: middle;
}

.main-nav{
    display: none;
}



.main-nav__item{
    display: inline-block;
    margin: 0 0.4rem;
}

.main-nav__item a,
.mobile-nav__item a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.3rem;
}


.main-nav__item a:hover,
.main-nav__item a:active{
    color: #fda3a3;
    border-bottom: 2px solid #ffa9a9;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a{
    color: #ff0000;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active{
    color: white;
    background: #ffa9a9;
    border: none;
}

@media (min-width: 55rem){
    .toggle-button{
        display: none;
    }

    .main-nav{
        display: inline-block;
        text-align: right;
        width: calc(100% - 123px);
        vertical-align: middle;
    }
    
}

.main-footer{
    background: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link{
    display: block;
    margin: 1rem 0;

}

.main-footer__link a{
    color: white;
    text-decoration: none;

}

.main-footer__link a:active,
.main-footer__link a:hover{
    color: #ccc;
}

.plan__button{
    background: #ff0000;
    color: white;
    font: inherit;
    margin: 0.4rem;
    border: 1.5px soild #ff0000;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.plan__button:hover,
.plan__button:active{
    background: #ff9292;
}

.plan__button:focus{
    outline: none;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: rgb(124, 14, 14);
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }

  .open{
      display: block !important;
  }

  @media (min-width: 55rem){
    .main-footer__link{
        display: inline-block;
        margin: 0 2rem;
    }
  }