main{
    margin-top: 2rem;
}

.background-img{
    background: url("../images/plans-background.jpg") center/cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.package-overview{
    width: 80%;
    margin: 1rem 0;
    border: solid #690303 4px;
    border-left: none;
}

.package-overview:hover,
.package-overview:active{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.95);
    border-color: rgb(255, 0, 170); 
}

.package-overview a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 2rem;
}

.package-overview h2{
    color: rgb(156, 156, 156);
}

.package-desc{
    padding: 0.75rem;
    background: white;
    border: solid black 1.5px;
}

.clearfix{
    clear: both;
}

#plus-package{
    background: #ffa9a9;
    position: relative;
    top: 2rem;
}

#package__badge{
    position: absolute; /*position the element base on the ancestor of the element*/
    top: 0;
    right: 0;
    margin: 1.25rem;   
    font-size: 0.75rem;
    color: red;
    background-color: rgb(255, 255, 104);
    padding: 0.5rem;
    
    border-radius: 50%;
    height: 2rem;
}

#free-package{
    background: #ffcece;
    float: right;
    border: solid #690303 4px;
    border-right: none;
    position: relative;
    top: 2rem;
}

#free-package:hover,
#free-package:active{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.95);
    border-color: rgb(255, 0, 170); 
}

#premium-package{
    background: #690303;
    position: relative;
    top: 2rem;
}

.premium-package h1{
    color: white;
}



